<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />



<!-- CSS -->
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/signpage.css">

  <title>contact us
  </title>
</head>
<body>
  
























  <div class="container">
    <div class="form-container">
        
        <form id="signUpForm">
            <h2>Sign Up</h2>
            <input type="text" placeholder="Username" required>
            <input type="email" placeholder="Email" required>
           <input type="password" placeholder="create a Password" required>
          <input type="password" placeholder="create a Password" required>
          <div class="form-group" style="display: flex; align-items: center;">
            
            <input type="checkbox" id="terms" name="terms" required>
            <label for="terms">I agree to the <a href="#">terms and conditions</a></label>
          </div>
          
            <button type="submit">Sign Up</button>
          <a href="./signin.html">
            <p class="alreadyacc">already have a account</p>
          </a>
        </form>
    </div>
</div>
  





























</body>
</html>