<!DOCTYPE html>
<html>
  <head>
    <title>Tracking</title>

  
    <!-- Here are the CSS files for this page. -->
    <link rel="stylesheet" href="./css/checkout.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/tracking.css">
  </head>
  <body>
    













    
    <div class="main">
      <div class="order-tracking">
        <button class="view-all-order-button">
          <a class="back-to-orders-link link-primary" href="orders.html">
          View all orders
        </a>
        </button>
        

        <div class="delivery-date">
          Arriving on Monday, June 13
        </div>

        <div class="product-info">
        Name
        </div>

        <div class="product-info">
          Quantity: 1
        </div>

        <img class="product-image" src="./images/cart4.jpg">

        <div class="progress-labels-container">
          <div class="progress-label">
            Preparing
          </div>
          <div class="progress-label current-status">
            Shipped
          </div>
          <div class="progress-label">
            Delivered
          </div>
        </div>

        <div class="progress-bar-container">
          <div class="progress-bar"></div>
        </div>
      </div>
    </div>


























  </body>
</html>
